<div class="{{ wrapper_classes }}" style="{{ wrapper_styles }}">
<div class="px-4 container mx-auto flex flex-wrap">
  <div class="w-full lg:w-1/2 pb-8 lg:pb-0">
    {% block first %}
      First content area
    {% endblock %}
  </div>
  <div class="w-full lg:w-1/2">
    {% block second %}
      Second content area
    {% endblock %}
  </div>
</div>
</div>