{% set wrapper_classes = "pb-8 sm:pb-16 bg-wart-yellow" %}
{% extends "src/_includes/two-column-component.njk" %}

{% block first %}
<p class="text-lg leading-8 text-black lg:pr-16">The mission was simple. We want to become the catalyst for change and create an “intentional punctuation” that disrupts the status quo and shapes a sustained effort around equity and social progress in the various intersection of the lives of Black & Brown people in America.</p>
{% endblock %}

{% block second %}
<p class="pb-8 text-lg leading-8 text-black">To attain this, we focused on three pillars in our effort to restore our community.</p>
<img src="/images/health-mobility-wealth.png" alt="Health mobility and wealth" />
{% endblock %}
