{% set wrapper_classes = "py-8 sm:py-16 bg-wart-yellow" %}
{% extends "src/_includes/one-column-component.njk" %}

{% block content %}
<div class="py-8 sm:py-16 px-8 xl:px-48 bg-black text-white">
    <h2 class="text-4xl sm:text-5xl text-center text-wart-yellow font-weight-700">Our Solution</h2>
    <p class="font-heading text-3xl sm:text-4xl text-center font-weight-700">To punctuate and create a collective movement for Black & Brown communities all across America.</p>
</div>
{% endblock %}
