{% extends "_includes/default.njk" %}

{% block title %}We All Rise Together{% endblock %}

{% block content %}
{% include "./content/how-we-got-here.njk" %}
{% include "./content/our-solution-top.njk" %}
{% include "./content/our-solution-bottom.njk" %}
{% include "./content/health-and-wellness-heading.njk" %}
{% include "./content/health-and-wellness-top.njk" %}
{% include "./content/health-and-wellness-bottom.njk" %}
{% include "./content/mobility-heading.njk" %}
{% include "./content/mobility-bottom.njk" %}
{% include "./content/wealth-heading.njk" %}
{% include "./content/wealth-top.njk" %}
{% include "./content/wealth-bottom.njk" %}
{% include "./content/footer.njk" %}
{% endblock %}
