{% set wrapper_classes = "py-8 sm:py-16 bg-wart-teal" %}
{% extends "_includes/one-column-component.njk" %}

{% block content %}
<p class="text-black text-3xl sm:text-4xl font-weight-700">Healthy lives and maintained well-being are a crucial component in order to ‘rebuild’ us. There has always been an intricate link between the wealth, mental health and well-being of Black & Brown communities.</p>
{% endblock %}
