{% set wrapper_classes = "pb-16 bg-wart-teal" %}
{% extends "_includes/two-column-component.njk" %}

{% block first %}
<p class="text-xl sm:text-2xl text-black leading-8 lg:pr-16">Covid-19 provided a stark reminder of the racial inequities that have always remained prevalent in American society, masked only by carefully crafted phrases and a willful blindness to the truth. The daily psychological trauma that these communities endure in the world (i.e., racial injustice, financial hardship, food desserts etc.) and in the workplace can cause stress at the cellular level for women and men.</p>
{% endblock %}

{% block second %}
<p class="text-xl sm:text-2xl text-black leading-8">We want to become the catalyst for change by creating an “intentional punctuation” that disrupts the status quo and shapes a sustained effort around equity and social progress in the various intersection of the lives of Black & Brown people in America.</p>
{% endblock %}
