{% set wrapper_classes = "py-16 bg-wart-orange" %}
{% extends "_includes/two-column-component.njk" %}

{% block first %}
<div class="lg:pr-16">
  <p class="text-3xl text-white leading-10 font-weight-700 pb-16">
    This next pillar focuses on developing employment, training and upskilling opportunities to level the playing field for our communities.
  </p>
  <p class="text-2xl text-white leading-10">
    CoVid-19 has disproportionately disrupted the lives of Black and Latinx communities. In response to the disruption they have faced in the employment sector, we have created a sustained focus and effort to increase employment opportunities and mobility in our community. Each Friday, we kick  things off with an intense rallying cry to join the ‘mobility movement’ to take us to the next level.
  </p>
</div>
{% endblock %}

{% block second %}
<div class="">
  <p class="pb-4 text-2xl text-white leading-10">The movement is broken into three parts:</p>
  <h3 class="pb-4 text-3xl text-white">THE TRAINING MOVEMENT</h3>
  <p class="pb-8 text-2xl text-white leading-10">CIRCUS STREET will offer free training access to 500 people who have been affected by layoffs as a result of CoVid-19. The courses will be offered every Friday.</p>
  <h3 class="pb-4 text-3xl text-white">THE CONNECTIONS MOVEMENT</h3>
  <p class="pb-8 text-2xl text-white leading-10">The NEXTHIVE alumni group allows people from any agency to post job announcements and professional opportunities for job seekers.  It is a one-stop-shop for cross-discipline, agency, and holding company opportunities. This hub will be featured on LINKEDIN.</p>
  <h3 class="pb-4 text-3xl text-white">THE MENTOR MOVEMENT</h3>
  <p class="text-2xl text-white leading-10">You can’t do this alone. We are here for it and you. Black leaders across the industry will offer 30 minutes to an hour of time to give career advice to Black and Latinx professionals on their career journey, every Friday.</p>
</div>
{% endblock %}
