{% set wrapper_classes = "py-16 bg-wart-brown" %}
{% extends "_includes/one-column-component.njk" %}

{% block content %}
<p class="text-white text-4xl font-weight-700">The third pillar focuses on supporting financial opportunities for individuals and small businesses to increase wealth within our Black and Latinx communities.</p>
{% endblock %}
