{% set wrapper_classes = "pb-8 sm:pb-16 bg-wart-brown" %}
{% extends "_includes/two-column-component.njk" %}

{% block first %}
<p class="text-xl sm:text-2xl text-white leading-10 lg:pr-16">The key is to keep our money in our community! Black and Brown dollars typically remain in their communities a total of six hours. To counteract this, we will work to build a habit of stimulating Black wealth on Fridays and eventually all the time. We want to increase circulation of the Black dollar in Black owned businesses for more than six hours.</p>
{% endblock %}

{% block second %}
<p class="text-xl sm:text-2xl text-white leading-10 pb-8">
  The goal is to support and grow our businesses and, as a result, our communities. Our three steps to achieve this include:
</p>
<ol class="text-white text-xl sm:text-2xl leading-10 list-decimal list-outside pl-6">
  <li class="pb-4 sm:pb-8">Creating an online “We All Rise Together”  Small Business hub</li>
  <li class="pb-4 sm:pb-8">Driving awareness that builds demand and interest, and</li>
  <li>Driving sales of Black owned businesses</li>
</ol>

{% endblock %}
