{% set wrapper_classes = "py-16 bg-cover bg-top" %}
{% set wrapper_styles = "background-image: url(/images/background-3.jpg);" %}
{% extends "_includes/one-column-component.njk" %}

{% block content %}
<div class="text-white text-center">
    <h2 class="text-8xl text-center text-white font-weight-700 uppercase">Wealth</h2>
</div>
{% endblock %}
