{% extends "default.njk" %}

{% block title %}We All Rise Together{% endblock %}

{% block content %}

<div class="h-16 bg-black"></div>

{# How We Got Here #}

<div class="relative py-16 bg-center bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
  <div class="container relative flex flex-wrap px-4 mx-auto">
    <div class="w-full pb-8 lg:w-1/2 lg:pb-0">
      <div class="md:pr-16"><img src="/images/we-all-rise-together-stacked.png" alt="We All Rise Together logo" /></div>
    </div>
    <div class="w-full lg:w-1/2">
      <h1 class="text-6xl leading-none text-white uppercase">How We Got Here</h1>
      <div class="w-1/5 mt-4 mb-8 border-4 border-wart-yellow"></div>
      <p class="pb-8 text-lg leading-10 text-white">
        COVID-19 is a significant disease that has impacted the globe. In America, the impact is acutely endured by Black and Brown communities. Recognizing this discrepancy, a group of leaders across the advertising industry came together on April 23, 2020, to address this &ldquo;trisis&rdquo;: the deadly three-way combination of COVID-19, economic recession, and racial injustice that has affected people of color. To counteract this harsh reality, we have sought to create an ecosystem that can instigate actions to restore our communities. Through shared passion and commitment, we came together after hours to talk, exchange ideas, and brainstorm ways to bring about lasting change in our health, mobility, and wealth. Today, it will truly take a village to save our communities.
      </p>
    </div>
  </div>
</div>

{# Our Solution #}

<div class="pt-8 pb-16 sm:pt-16 sm:pb-24 bg-wart-yellow">
  <div class="container px-4 mx-auto">
    <p class="pb-8 text-3xl leading-none text-center text-black sm:text-4xl font-weight-700 font-heading sm:pb-16">
      &ldquo;If not us, then who? If not now, then when?&rdquo; &mdash; John Lewis
    </p>
    <div class="px-8 py-8 text-white bg-black sm:py-16 xl:px-48">
      <h2 class="text-4xl text-center sm:text-5xl text-wart-yellow font-weight-700">Our Solution</h2>
      <p class="text-3xl text-center font-heading sm:text-4xl font-weight-700">
        To create a collective movement for Black and Brown communities all across America that pauses, punctuates, and instigates actions to ensure &ldquo;We All Rise Together.&rdquo; 
      </p>
    </div>
  </div>
</div>

{# Health and Wellness #}

<div class="py-16 bg-center bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="container px-4 mx-auto">
    <h2 class="text-6xl leading-none text-center text-white uppercase md:text-8xl font-weight-700">Health and Wellness</h2>
  </div>
</div>

<div class="pt-8 pb-12 sm:pt-16 sm:pb-20 bg-wart-teal">
  <div class="container px-4 mx-auto">
    <p class="pb-8 text-2xl text-black sm:pb-12 sm:text-3xl font-weight-700">
      When compared to the non-Hispanic white population, COVID-19 death rates are 2.1x higher for Black/African Americans and 1.1x higher for Latino/Hispanic Americans.
    </p>
    <p class="pb-8 text-2xl text-black sm:text-3xl md:pb-12">
      Maintaining healthy lives and a sense of comfort are crucial components to &ldquo;rebuilding&rdquo; us. There has always been an intricate link between the wealth, mental health, and well-being of Black and Brown communities.
    </p>
    <p class="pb-8 text-3xl leading-none text-center text-black sm:text-4xl font-weight-700 font-heading sm:pb-16">
      &ldquo;Not everything that is faced can be changed, but nothing can be changed until it is faced.&rdquo; &mdash; James Baldwin
    </p>
    <div class="px-4 py-8 text-lg leading-8 text-white bg-black md:px-24 md:py-8">
      <p class="pb-4"><span class="font-bold">How We Will Punctuate:</span> Every Friday, we will bring together wellness experts from Black and Brown communities to provide consultation to employees across industries about wellness and health.</p>
      <p>One of our first initiatives will focus on women. We will be holding sessions the second Friday of each month to openly address the obstacles and stressors that occur in the lives of Black women in the workplace and in their personal lives. For information about the events in this initiative, please email <a class="text-wart-yellow hover:underline" href="mailto:judylovesculture@gmail.com">judylovesculture@gmail.com</a>.</p>
    </div>
  </div>
</div>

{# Mobility #}

<div class="py-16 bg-bottom bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="container relative px-4 mx-auto">
    <div class="text-center text-white">
      <h2 class="text-6xl leading-none text-center text-white uppercase md:text-8xl font-weight-700">Mobility</h2>
    </div>
  </div>
</div>

<div class="pt-8 pb-12 sm:pt-16 sm:pb-20 bg-wart-orange">
  <div class="container px-4 mx-auto">
    <p class="pb-8 text-2xl text-white sm:pb-12 sm:text-3xl font-weight-700">
      Since tracking began in 1972, the Black unemployment rate is consistently 2x higher than the white unemployment rate.
    </p>
    <p class="pb-8 text-2xl text-white sm:text-3xl md:pb-12">
      We are committed to creating mentoring, career training, and employment opportunities to level the playing field within our communities.
    </p>
    <p class="pb-8 text-3xl leading-none text-center text-white sm:text-4xl font-weight-700 font-heading sm:pb-16">
      &ldquo;What we do is more important than what we say or what we say we believe.&rdquo; &mdash; Bell Hooks
    </p>
    <div class="px-4 py-8 mb-8 text-lg leading-8 text-white bg-black md:px-24 md:py-12 md:mb-12">
      <p class="pb-8 text-lg leading-8 text-white md:pb-12">
        <span class="font-bold">How We Will Punctuate:</span> Every Friday, we will kick off things with an intense rallying cry to join the &ldquo;mobility movement&rdquo; to take us to the next level. The movement is broken into three parts:
      </p>
      <h3 class="pb-4 text-2xl text-white uppercase sm:text-3xl">The Training Movement</h3>
      <p class="pb-8 text-lg leading-8 text-white md:pb-12">
        We need to be skilled! Our inaugural partnership is with <a class="text-wart-yellow hover:underline" href="https://www.circusstreet.com/" target="_blank">CIRCUS STREET</a>, an award-winning interactive media and marketing training company. Every Friday, we will offer free digital training sessions to 500 people adversely impacted due to layoffs or staff reductions as a result of COVID-19. 
      </p>
      <h3 class="pb-4 text-2xl text-white uppercase sm:text-3xl">The Connections Movement</h3>
      <p class="pb-8 text-lg leading-8 text-white md:pb-12">
        We need to be connected! The <a class="text-wart-yellow hover:underline" href="https://www.linkedin.com/groups/12448483/" target="_blank">NEXTHIVE</a> alumni group allows people from any agency to post job announcements and professional opportunities for job seekers. It is a one-stop-shop for cross-discipline, agency, and holding company opportunities.  This hub will be featured on LinkedIn.
      </p>
      <h3 class="pb-4 text-2xl text-white uppercase sm:text-3xl">The Mentor Movement</h3>
      <p class="text-lg leading-8 text-white">
        We can’t grow or succeed by ourselves. Black and Brown leaders across the industry will offer 30 to 60 minutes of their time to give career advice to Black and Latinx professionals to help guide them on their career journey.
      </p>
    </div>
    <div class="flex flex-col flex-wrap justify-center w-full mx-auto space-y-8 lg:w-auto lg:space-y-0 lg:space-x-4 lg:flex-row xl:w-4/5">
      <a class="flex-1 block px-6 py-1 font-bold text-center text-black uppercase border-2 border-black bg-wart-yellow" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Zl4LFYg97k2D9u0Um3J6AFCpaH60RAhLre_GltklXqVUNzJNTFMxRUxVUzNTNDRaWlFYTDNDSTNEWi4u" target="_blank">Learn More About Our Circus Street Offering ></a>
      <a class="flex-1 block px-6 py-1 font-bold text-center text-black uppercase border-2 border-black bg-wart-yellow" href="/career-advice-hotline">Connect to the career advice hotline ></a>
    </div>
  </div>
</div>

{# Wealth #}

<div class="py-16 bg-top bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="container px-4 mx-auto">
    <div class="text-center text-white">
      <h2 class="text-6xl leading-none text-center text-white uppercase md:text-8xl font-weight-700">Wealth</h2>
    </div>
  </div>
</div>

<div class="pt-8 pb-12 sm:pt-16 sm:pb-20 bg-wart-brown">
  <div class="container px-4 mx-auto">
    <p class="pb-8 text-2xl text-white sm:pb-12 sm:text-3xl font-weight-700">
      It will take 250 years to close the wealth gap between Black and white communities. Black dollars typically remain in their communities for a total of six hours. During COVID-19, the number of Latino businesses fell 32%.
    </p>
    <p class="pb-8 text-2xl text-white sm:text-3xl md:pb-12">
      We need to create financial opportunities for individuals and small businesses to increase wealth within our Black and Latinx communities. 
    </p>
    <p class="pb-8 text-3xl leading-none text-center text-white sm:text-4xl font-weight-700 font-heading sm:pb-16">
      &ldquo;I'm not a businessman, I'm a business, man.&rdquo; &mdash; Jay-Z
    </p>
    <p class="px-4 py-8 text-lg leading-8 text-white bg-black md:px-24 md:py-8">
      <span class="font-bold">How We Will Punctuate:</span> Every Friday, and eventually every day, we will strive to increase circulation of Black and Brown dollars in Black and Brown-owned businesses.
    </p>
  </div>
</div>

{# Coming Soon #}

<div class="pt-8 pb-12 sm:pt-16 sm:pb-20 bg-wart-teal">
  <div class="container px-4 mx-auto">
    <h2 class="pb-8 text-4xl leading-none text-center text-white md:text-6xl font-weight-700">Coming Soon</h2>
    <p class="text-2xl text-white sm:text-3xl">
      The <span class="italic font-bold">We All Rise Together Small Business Hub</span> is where you can explore all our communities have to offer.   
    </p>
  </div>
</div>

{% endblock %}
