<div class="bg-black py-16">
  <div class="container mx-auto px-8 flex justify-center">
    <div class="sm:max-w-md">
      <img src="/images/we-all-rise-together-hashtag-bw.png" alt="Hashtag We All Rise Together" />
    </div>
  </div>
</div>
