{% extends "src/_includes/default.njk" %}

{% block title %}We All Rise Together{% endblock %}

{% block content %}

<div class="h-16 bg-black"></div>

<div class="relative py-16 bg-center bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
  <div class="container relative flex flex-wrap px-4 mx-auto">
    <div class="w-full pb-8 lg:w-1/2 lg:pb-0">
      <div class="md:pr-16"><img src="/images/we-all-rise-together-stacked.png" alt="We All Rise Together logo" /></div>
    </div>
    <div class="w-full lg:w-1/2">
      <h1 class="text-6xl leading-none text-white uppercase">How We Got Here</h1>
      <div class="w-1/5 mt-4 mb-8 border-4 border-wart-yellow"></div>
      <p class="text-lg leading-8 text-white">
        CoVid-19 was a sea change that impacted the globe. In America, the impact is acutely endured by Black and Brown communities. Recognizing this discrepancy, a group of leaders across the advertising industry came together on April 23, 2020 to address this “trisis”: the deadly three-way culmination of CoVid-19, economic recession, and racial injustice. To counteract this harsh reality, we have sought to create an ecosystem that can instigate actions to restore our community. Through shared passion and commitment, we came together– after hours–to talk, exchanging ideas, and brainstorming ways to bring about lasting change.
      </p>
    </div>
  </div>
</div>

<div class="py-8 sm:py-16 bg-wart-yellow">
  <div class="container px-4 mx-auto">
    <div class="px-8 py-8 text-white bg-black sm:py-16 xl:px-48">
      <h2 class="text-4xl text-center sm:text-5xl text-wart-yellow font-weight-700">Our Solution</h2>
      <p class="text-3xl text-center font-heading sm:text-4xl font-weight-700">
        To punctuate and create a collective movement for Black & Brown communities all across America.
      </p>
    </div>
  </div>
</div>

<div class="pb-8 sm:pb-16 bg-wart-yellow"">
  <div class="container flex flex-wrap px-4 mx-auto">
    <div class="w-full pb-8 lg:w-1/2 lg:pb-0">
      <p class="text-lg leading-8 text-black lg:pr-16">
        The mission was simple. We want to become the catalyst for change and create an “intentional punctuation” that disrupts the status quo and shapes a sustained effort around equity and social progress in the various intersection of the lives of Black & Brown people in America.
      </p>
    </div>
    <div class="w-full lg:w-1/2">
      <p class="pb-8 text-lg leading-8 text-black">
        To attain this, we focused on three pillars in our effort to restore our community.
      </p>
      <p>
        <img src="/images/health-mobility-wealth.png" alt="Health mobility and wealth" />
      </p>
    </div>
  </div>
</div>

<div class="py-16 bg-center bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="container px-4 mx-auto">
    <h2 class="text-6xl leading-none text-center text-white uppercase md:text-8xl font-weight-700">Health and Wellness</h2>
  </div>
</div>

<div class="py-8 sm:py-16 bg-wart-teal">
  <div class="container px-4 mx-auto">
    <p class="text-3xl text-black sm:text-4xl font-weight-700">
      Healthy lives and maintained well-being are a crucial component in order to ‘rebuild’ us. There has always been an intricate link between the wealth, mental health and well-being of Black & Brown communities.
    </p>
  </div>
</div>

<div class="pb-16 bg-wart-teal">
  <div class="container flex flex-wrap px-4 mx-auto">
    <div class="w-full pb-8 lg:w-1/2 lg:pb-0">
      <p class="text-lg leading-10 text-black lg:pr-16">
        Covid-19 provided a stark reminder of the racial inequities that have always remained prevalent in American society, masked only by carefully crafted phrases and a willful blindness to the truth. The daily psychological trauma that these communities endure in the world (i.e., racial injustice, financial hardship, food desserts etc.) and in the workplace can cause stress at the cellular level for women and men.
      </p>
    </div>
    <div class="w-full lg:w-1/2">
      <p class="text-lg leading-10 text-black">
        We want to become the catalyst for change by creating an “intentional punctuation” that disrupts the status quo and shapes a sustained effort around equity and social progress in the various intersection of the lives of Black & Brown people in America.
      </p>
    </div>
  </div>
</div>

<div class="py-16 bg-bottom bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="container relative px-4 mx-auto">
    <div class="text-center text-white">
      <h2 class="text-6xl leading-none text-center text-white uppercase md:text-8xl font-weight-700">Mobility</h2>
    </div>
  </div>
</div>

<div class="py-8 sm:py-16 bg-wart-orange">
  <div class="container flex flex-wrap px-4 mx-auto">
    <div class="w-full pb-8 lg:w-1/2 lg:pb-0">
      <div class="lg:pr-16">
        <p class="pb-8 text-3xl leading-10 text-white sm:text-4xl font-weight-700 sm:pb-16">
          This next pillar focuses on developing employment, training and upskilling opportunities to level the playing field for our communities.
        </p>
        <p class="pb-8 text-lg leading-8 text-white">
          CoVid-19 has disproportionately disrupted the lives of Black and Latinx communities. In response to the disruption they have faced in the employment sector, we have created a sustained focus and effort to increase employment opportunities and mobility in our community. Each Friday, we kick  things off with an intense rallying cry to join the ‘mobility movement’ to take us to the next level.
        </p>
        <p>
          <a class="inline-block px-6 py-1 text-white uppercase bg-black border-2 border-white" href="/career-advice-hotline">Connect to the career advice hotline</a>
        </p>
      </div>
    </div>
    <div class="w-full lg:w-1/2">
      <div class="">
        <p class="pb-4 text-lg leading-8 text-white">
          The movement is broken into three parts:
        </p>
        <h3 class="pb-4 text-2xl text-white sm:text-3xl">THE TRAINING MOVEMENT</h3>
        <p class="pb-8 text-lg leading-8 text-white">
          CIRCUS STREET will offer free training access to 500 people who have been affected by layoffs as a result of CoVid-19. The courses will be offered every Friday.
        </p>
        <h3 class="pb-4 text-2xl text-white sm:text-3xl">THE CONNECTIONS MOVEMENT</h3>
        <p class="pb-8 text-lg leading-8 text-white">
          The NEXTHIVE alumni group allows people from any agency to post job announcements and professional opportunities for job seekers.  It is a one-stop-shop for cross-discipline, agency, and holding company opportunities. This hub will be featured on LINKEDIN.
        </p>
        <h3 class="pb-4 text-2xl text-white sm:text-3xl">THE MENTOR MOVEMENT</h3>
        <p class="text-lg leading-8 text-white">
          You can’t do this alone. We are here for it and you. Black leaders across the industry will offer 30 minutes to an hour of time to give career advice to Black and Latinx professionals on their career journey, every Friday.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-16 bg-top bg-cover" style="background-image: url(/images/background-3.jpg);">
  <div class="container px-4 mx-auto">
    <div class="text-center text-white">
      <h2 class="text-6xl leading-none text-center text-white uppercase md:text-8xl font-weight-700">Wealth</h2>
    </div>
  </div>
</div>

<div class="py-8 sm:py-16 bg-wart-brown">
  <div class="container px-4 mx-auto">
      <p class="text-3xl text-white sm:text-4xl font-weight-700">
        The third pillar focuses on supporting financial opportunities for individuals and small businesses to increase wealth within our Black and Latinx communities.
      </p>
  </div>
</div>

<div class="pb-8 sm:pb-16 bg-wart-brown">
  <div class="container flex flex-wrap px-4 mx-auto">
    <div class="w-full pb-8 lg:w-1/2 lg:pb-0">
      <p class="text-lg leading-8 text-white lg:pr-16">
        The key is to keep our money in our community! Black and Brown dollars typically remain in their communities a total of six hours. To counteract this, we will work to build a habit of stimulating Black wealth on Fridays and eventually all the time. We want to increase circulation of the Black dollar in Black owned businesses for more than six hours.
      </p>
    </div>
    <div class="w-full lg:w-1/2">
      <p class="pb-8 text-lg leading-8 text-white">
        The goal is to support and grow our businesses and, as a result, our communities. Our three steps to achieve this include:
      </p>
      <ol class="pl-6 text-lg leading-8 text-white list-decimal list-outside">
        <li class="pb-4 sm:pb-8">Creating an online “We All Rise Together”  Small Business hub</li>
        <li class="pb-4 sm:pb-8">Driving awareness that builds demand and interest, and</li>
        <li>Driving sales of Black owned businesses</li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}
