{% extends "src/_includes/default.njk" %}

{% block title %}We All Rise Together{% endblock %}

{% block content %}
{% include "./_content/how-we-got-here.njk" %}
{% include "./_content/our-solution-top.njk" %}
{% include "./_content/our-solution-bottom.njk" %}
{% include "./_content/health-and-wellness-heading.njk" %}
{% include "./_content/health-and-wellness-top.njk" %}
{% include "./_content/health-and-wellness-bottom.njk" %}
{% include "./_content/mobility-heading.njk" %}
{% include "./_content/mobility-bottom.njk" %}
{% include "./_content/wealth-heading.njk" %}
{% include "./_content/wealth-top.njk" %}
{% include "./_content/wealth-bottom.njk" %}
{% include "./_content/footer.njk" %}
{% endblock %}
